<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Shopping</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li> --}}
                {{#if checkAuthUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/products">
                        <i class="bi bi-bag-check-fill"></i>
                        Product
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/shop/carts">
                        <i class="bi bi-bag-plus-fill"></i>
                        <span class="badge bg-secondary translate-middle badge rounded-pill bg-danger" >{{carts.length}}</span>
                        {{!-- <span class="position-absolute top-1 start-90 translate-middle badge rounded-pill bg-danger">
                            9+
                            <span class="visually-hidden">unread messages</span>
                        </span> --}}
                    </a>
                </li>
                {{/if}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if checkAuthUser}}
                        {{!-- nothing to show --}}
                        {{else}}
                        <i class="bi bi-person-circle"></i>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu float-end" aria-labelledby="navbarDropdown">
                        {{#if checkAuthUser}}
                        {{#if checkProfile}}
                        <li>
                            <a class="dropdown-item" href="/users/logout">
                                <i class="bi bi-box-arrow-left"></i> Logout
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a class="dropdown-item" href="/users/profile">
                                <i class="bi bi-person-fill"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users/logout">
                                <i class="bi bi-box-arrow-left"></i> Logout
                            </a>
                        </li>

                        {{/if}}
                        {{else}}
                        <li>
                            <a class="dropdown-item" href="/users/signin">
                                <i class="bi bi-box-arrow-in-left"></i> Sign In
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/users/signup">
                                <i class="bi bi-person-plus-fill"></i> Sign Up
                            </a>
                        </li>
                        {{/if}}

                        {{!-- <li>
                            <hr class="dropdown-divider">
                        </li> --}}

                    </ul>
                </li>
                {{#if checkAuthUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/profile">
                        {{!-- <svg width="30" height="30"> --}}
                            <img {{!--:xlink:href="https://ui-avatars.com/api/?background=random&color=fff&size=30&font-size=0.50&rounded=true&bold=true&format=svg&name=Mohamed+ELYONOUSI"
                                --}}
                                src="https://ui-avatars.com/api/?background=random&color=fff&size=30&font-size=0.50&rounded=true&bold=true&name={{user.email}}"
                                width="30" height="30" />
                            {{!-- </svg> --}}
                    </a>
                </li>
                {{/if}}
                {{!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> --}}
            </ul>
            {{!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</nav>