<div class="container">
    {{#if products}}
    <div class="row">
        {{#each products}}
        <div class="col py-4 my-4">
            <div class="card" style="width: 18rem;">
                <a href="/products/{{this._id}}"><img src="{{this.img}}" loading="lazy" style="max-height: 25rem;" class="card-img-top" alt="samsung"></a>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p>
                        Storage Capacity: {{this.description.storage}}GB
                        ...
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-danger fw-bold">{{this.price}}$</small>
                        <a href="/products/{{this._id}}" class="btn btn-warning btn-sm text-black float-end">Buy</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class=" vh-100 text-center pt-4  text-white"><strong>No Product Found, Please Add some Products</strong></div>
    {{/if}}
</div>